{% extends 'pages/base.html' %} 
{% block content %}

<section class="main_heading my-5">
  <div class="text-center">
      <h1 class="display-4"> Categories </h1>
      <hr class="w-25 mx-auto">
  </div>
</section>

<section class="cat-body container py-5">
  <div class="list-group">
    <a
      href="#"
      class="list-group-item list-group-item-action bg-dark active py-4"
    >Book Genres
    </a>

	  {% for category in categories%}
    <a class="list-group-item list-group-item-action py-3"
				>{{ category }}</a
    >
	{% endfor %}
  </div>
</section>
{% endblock content %}
