{% extends 'pages/base.html' %} 
{% block content %}
<section class="cat-body container py-5">
  <div class="list-group">
    <a
      href="#"
      class="list-group-item list-group-item-action bg-dark active py-4"
    >
      Book Genres
    </a>
    <a href="#" class="list-group-item list-group-item-action py-3"
      >Programming</a
    >
    <a href="#" class="list-group-item list-group-item-action py-3"
      >Literature</a
    >
    <a href="#" class="list-group-item list-group-item-action py-3"
      >Non-Fiction</a
    >
    <a href="#" class="list-group-item list-group-item-action py-3"
      >Magazines</a
    >
    <a href="#" class="list-group-item list-group-item-action py-3">Business</a>
    <a href="#" class="list-group-item list-group-item-action py-3">History</a>
    <a href="#" class="list-group-item list-group-item-action py-3"
      >Artificial Intelligene</a
    >
  </div>
</section>
{% endblock content %}
