{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<div class="landing-div container">
  <div class="d-flex justify-content-center "><h2 class="center-text">Welcome to Online Library System</h2></div>
</div>

<h4 class="py-5 container">Course Book</h4>
<section class="container">
<div class="row row-cols-1 row-cols-md-6 g-4">
  <div class="col">
    <div class="card h-100">
        <img src="{% static 'pages/images/python.jpg' %}" class="card-img-top" alt="book img">
      <div class="card-body">
		  <h6 class="card-title">Card title</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'pages/images/python.jpg' %}" class="card-img-top" alt="book img">
      <div class="card-body">
        <h6 class="card-title">Card title</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'pages/images/python.jpg' %}" class="card-img-top" alt="book img">
      <div class="card-body">
        <h6 class="card-title">Card title</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'pages/images/python.jpg' %}" class="card-img-top" alt="book img">
      <div class="card-body">
        <h6 class="card-title">Card title</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'pages/images/python.jpg' %}" class="card-img-top" alt="book img">
      <div class="card-body">
        <h6 class="card-title">Card title</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'pages/images/python.jpg' %}" class="card-img-top" alt="book img">
      <div class="card-body">
        <h6 class="card-title">Card title</h6>
      </div>
    </div>
  </div>

</section> 
<!-- ------------------------------------------------------------- -->

<h4 class="py-5 container">Course Book</h4>

<section class="container py-3">
<div class="row row-cols-1 row-cols-md-6 g-4">

  <div class="col">
    <div class="card h-100">
        <img src="{% static 'pages/images/python.jpg' %}" class="card-img-top" alt="book img">
      <div class="card-body">
        <h6 class="card-title">Card title</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'pages/images/python.jpg' %}" class="card-img-top" alt="book img">
      <div class="card-body">
        <h6 class="card-title">Card title</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'pages/images/python.jpg' %}" class="card-img-top" alt="book img">
      <div class="card-body">
        <h6 class="card-title">Card title</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'pages/images/python.jpg' %}" class="card-img-top" alt="book img">
      <div class="card-body">
        <h6 class="card-title">Card title</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'pages/images/python.jpg' %}" class="card-img-top" alt="book img">
      <div class="card-body">
        <h6 class="card-title">Card title</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'pages/images/python.jpg' %}" class="card-img-top" alt="book img">
      <div class="card-body">
        <h6 class="card-title">Card title</h6>
      </div>
    </div>
  </div>

</div>

</section> 
{% endblock content %}
