{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<div class="landing-div container">
  <div class="d-flex justify-content-center "><h2 class="center-text">Welcome to Online Library System</h2></div>
</div>

<h4 class="py-5 container">Available Books</h4>
<section class="container">

<div class="row row-cols-1 row-cols-md-6 g-4"> 
  {% for page in all_pages_list %}
  <div class="col">
    <div class="card h-100">
        <img src="{{page.image.url}}" class="card-img-top" alt="book img">
      <div class="card-body">
		  <h6 class="card-title">{{ page.title }}</h6>
      </div>
    </div>
  </div> 
  {% endfor %}
</div>


</section> 
{% endblock content %}
