{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><img class = "logo-img" src="{% static 'pages/images/logo.png'%}" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'categories' %}">Categories</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
              <span class="nav-link active">Hello {{ user.username }}</span>
          </li>
          {% endif %}
        </ul>
            <div>
              {% if user.is_authenticated %}
              <a class="nav-link active text-white" aria-current="page" href="{% url 'logout' %}">Logout</a>
              {% else %}
              <a class="nav-link active text-white" aria-current="page" href="{% url 'login' %}">Login</a>
              {% endif %}
            </div>
      </div>
    </div>
  </nav>